<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link th:href="@{/resources/css/jquery.countdown.css}" rel="stylesheet"
          href="../static/resources/css/jquery.countdown.css" type="text/css"/>
    <link th:href="@{/resources/css/popuo-box.css}" rel="stylesheet" href="../static/resources/css/jpopuo-boxn.css"
          type="text/css"/>
    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" href="../static/resources/css/bootstrap.css"
          type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" href="../static/resources/css/style.css"
          type="text/css"/>
    <link th:href="@{/resources/css/fasthover.css}" rel="stylesheet" href="../static/resources/css/fasthover.css"
          type="text/css"/>

    <link th:href="@{/resources/css/font-awesome.css}" rel="stylesheet" href="../static/resources/css/font-awesome.css"
          type="text/css"/>


    <script th:src="@{/resources/js/jquery.min.js}" type="text/javascript"
            src="../static/resources/js/jquery.min.js"></script>
    <script th:src="@{/resources/js/bootstrap-3.1.1.min.js}" type="text/javascript"
            src="../static/resources/js/bootstrap-3.1.1.min.js"></script>

    <script th:src="@{/resources/js/jquery.magnific-popup.js}" type="text/javascript"
            src="../static/resources/js/jquery.magnific-popup.js"></script>

    <script th:src="@{/resources/js/jquery.magnific-popup.js}" type="text/javascript"
            src="../static/resources/js/jquery.magnific-popup.js"></script>
    <script th:src="@{/resources/js/script.js}" type="text/javascript" src="../static/resources/js/script.js"></script>
    <script th:src="@{/resources/js/jquery.countdown.js}" type="text/javascript"
            src="../static/resources/js/jquery.countdown.js"></script>
    <script th:src="@{/resources/js/jquery.wmuSlider.js}" type="text/javascript"
            src="../static/resources/js/jquery.wmuSlider.js"></script>
    <script th:src="@{/resources/js/jquery.flexisel.js}" type="text/javascript"
            src="../static/resources/js/jquery.flexisel.js"></script>
    <script th:src="@{/resources/js/jquery.flexslider.js}" type="text/javascript"
            src="../static/resources/js/jquery.flexslider.js"></script>
    <script th:src="@{/resources/js/imagezoom.js}" type="text/javascript"
            src="../static/resources/js/imagezoom.js"></script>
    <script th:src="@{/resources/js/minicart.js}" type="text/javascript"
            src="../static/resources/js/minicart.js"></script>
    <script th:src="@{/resources/js/easyResponsiveTabs.js}" type="text/javascript"
            src="../static/resources/js/script.js"></script>
    <title th:text="${dienthoai.name}">Last Action Hero</title>
</head>
<body>

<!-- header -->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-4 header-middle">
            <form action="#" method="post">
                <input type="search" name="search" placeholder="Search here..." required="">
                <input type="submit" value=" ">
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- header-bot -->
        <div class="col-md-4 w3l_logo">
            <h1><a href="index.html">Mobile Phone Store<span>Your stores. Your place.</span></a></h1>
        </div>
        <div class="col-md-4  top_content">
            <div class="user_login"><p sec:authorize="isAuthenticated()" th:text="${'Hallo ' + #authentication?.name}">
                Hallo Nutzer</p></div>
            <div class="w3l_login">
                <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user"
                                                                               aria-hidden="true"></span></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<nav th:include="navigation :: navigation"></nav>
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Sale</span></h3>
                    <p>Special for today</p>
                    <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Summer <span>Collection</span></h3>
                    <p>New Arrivals On Sale</p>
                    <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Sale</span></h3>
                    <p>Special for today</p>
                    <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Summer <span>Collection</span></h3>
                    <p>New Arrivals On Sale</p>
                    <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item5">
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Biggest <span>Sale</span></h3>
                    <p>Special for today</p>
                    <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!-- //banner -->
<div class="form_content_login">
   <div class="content-panel-detail">
        <div class="container-all caption font-red-sunglo">
			<span class="caption-subject bold uppercase">Thông Tin Chi Tiết Sẩn Phẩm</span>
			<hr>
	    </div>
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img th:src="@{/resources/images/cover/{name}(name=${dienthoai.hinhAnh})}"
                         src="../static/resources/images/cover/lac.jpg"/>
                </div>
                <div class="content">
                    <a class="header" th:text="${dienthoai.name}">Last Action Hero</a>
                    <div class="meta">
                        
                        <span th:text="${{dienthoai.price}}"></span>
                         <div class="meta">
                        
                        <span th:text="${{dienthoai.moTa}}">9.99 €</span>
                    </div>
                    </div>
                    <div class="description">
                       	
                        <form class="ui form" method="post" th:action="@{/cart}" th:if="${orderable}">
                            <input type="hidden" name="pid" value="0" th:value="${dienthoai.id}"/>
                            <div class="field">
                                <label for="number">Số lượng</label>
                                <input id="number" type="number" name="number" min="1" max="5" step="1" value="1"/><br/>
                            </div>
                            
                            <button type="submit" class="ui labeled icon button">
                                <i class="add to cart icon"></i><span> Thêm vào giỏ</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

       <!--  <div class="ui comments">
            <h3 class="ui dividing header" th:text="#{detail.comment.comments}">Kommentare</h3>

            <div class="comment" th:each="comment : ${dienthoai.comments}">
                <div class="content">
                    <div class="metadata">
                        <div class="rating">
                            <i class="star icon"></i>
                            <span th:text="${comment.rating}">5</span>
                        </div>
                    </div>
                    <div class="text" th:text="${comment.text}">Guter Film vong Inhalt her</div>
                </div>
            </div>

            <form class="ui reply form" role="form" th:action="@{/dienthoai/{id}/comments(id=${dienthoai.id})}" method="post">
                <div class="field">
                    <textarea id="comment" name="comment" cols="40" rows="5"></textarea><br/>
                </div>
                <div class="field">
                    <label th:text="#{detail.comment.rating}" for="rating">Bewertung</label>
                    <input id="rating" name="rating" type="number" value="5"/>
                </div>
                <button type="submit" class="ui labeled icon button">
                    <i class="icon edit"></i><span th:text="#{detail.comment.addComment}"> Kommentieren</span>
                </button>
            </form>
        </div> -->
    </div>
</div>


<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Top Brands</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img th:src="@{/resources/images/tb1.jpg}" src="../static/resources/images/tb1.jpg" alt=" "
                         class="img-responsive"/>
                </li>
                <li>
                    <img th:src="@{/resources/images/logo/tb1.jpg}" src="../static/resources/images/logo/tb1.jpg"
                         alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img th:src="@{/resources/images/logo/Samsung_Galaxy_logo.svg.png}"
                         src="../static/resources/images/logo/Samsung_Galaxy_logo.svg.png" alt=" "
                         class="img-responsive"/>
                </li>
                <li>
                    <img th:src="@{/resources/images/logo/4028_1548300921.jpg}"
                         src="../static/resources/images/logo/4028_1548300921.jpg" alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img th:src="@{/resources/images/logo/home-ios-icon.png}"
                         src="../static/resources/images/logo/home-ios-icon.png" alt=" " class="img-responsive"/>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
    </div>
</div>
<!-- //top-brands -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h3>Newsletter</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="submit" value=""/>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- //newsletter -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>129 Nguyen Hue Street , Quy
                        Nhon City, <span>Quy Nhon City.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                            href="mailto:group9@gmail.com">group9@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+84342876982</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="mail.html">Contact Us</a></li>
                    <li><a href="codes.html">Short Codes</a></li>
                    <li><a href="faq.html">FAQ's</a></li>
                    <li><a href="products.html">Special Products</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <li><a href="products.html">Mobiles</a></li>
                    <li><a href="products1.html">Laptops</a></li>
                    <li><a href="products.html">Purifiers</a></li>
                    <li><a href="products1.html">Wearables</a></li>
                    <li><a href="products2.html">Kitchen</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Today's Deals</a></li>
                </ul>
                <h4>Follow Us</h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="#home1" class="scroll"><img th:src="@{/resources/images/arrow.png}"
                                                     src="../static/resources/images/arrow.png" alt=" "
                                                     class="img-responsive"/></a>
            </div>
        </div>
        <div class="container">
            <p>&copy; 2019 Electronic Store. All rights reserved | Design by <a href="http://g9.com/">G9</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script>
    w3ls.render();

    w3ls.cart.on('w3sb_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {
            }
        }
    });
</script>
<!-- //cart-js -->

</body>
</html>